
* {
    box-sizing: border-box;
    justify-content: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 50px 0;
}

nav {
    background: red;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.cta-button {
    background: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
    color: white;
}

#search form {
    margin: 20px auto;
}

#search input,
#search select {
    padding: 10px;
    margin: 10px;
}

.property-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.property-card:hover{
    background-color: rgb(99, 100, 101);
}
.property-card{
    border: 1px solid #666565;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: left;
    
}

.property-card img {
    width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.social-icons :hover{
    background-color: black;
}

.social-icons a,
.resources a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.hero h1{
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
li :hover{
    background-color: rgb(85, 79, 79);
}